<!DOCTYPE html>
<html ng-app="bbb" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>
    <meta name="fragment" content="!">

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@bogdanvarlamov">
    <meta name="twitter:title" content="BogdanBuildsBlank">
    <meta property="og:title" content="BogdanBuildsBlank" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://bogdanbuildsblank.com" />
    <meta property="og:description" content="A software engineer builds stuff to answer the question: How is this actually useful?">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true"
            ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
          <div class="navbar-brand">
            Bb_
          </div>
        </div>
        <div class="collapse navbar-collapse" collapse="menuCollapsed">
	        <ul class="nav navbar-nav">
	            <li ui-sref-active="active">
	              <a href ui-sref="home">
	                <i class="fa fa-home"></i>
	                Home
	              </a>
	            </li>
	            <li ui-sref-active="active">
	              <a href ui-sref="projects">
	                <i class="fa fa-terminal"></i>
	                Projects
	              </a>
	            </li>
	            <li ui-sref-active="active">
	              <a href ui-sref="about">
	                <i class="fa fa-info-circle"></i>
	                About
	              </a>
	            </li>
	          </ul>
	          <div class="container-fluid navbar-right">
		      	<button type="button"
	       				class="btn btn-default navbar-btn"
	       				ng-if="!isAuthenticated()" 
	       				ng-click="authenticate('google')">
	       				Sign in with Google
	       		</button>
			  	<button type="button"
	       				class="btn btn-default navbar-btn"
	       				ng-if="isAuthenticated()"
	       				ng-click="logout()">
	       				Logout
	       		</button>	 
	          </div>       
        </div>
    </nav>

    <div class="main-content" ui-view="main"></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner"> 
        	<ul class="social">
        	    <li>
	            	<a target="_blank" href="https://bitbucket.org/bogdanvarlamov/bogdanbuildsblank">
	            		<i class="fa fa-bitbucket"></i>
	            	</a>
	            </li>
        	</ul>        
          <p>
            &copy; 2016 <a href="http://www.bogdanvarlamov.com">Bogdan Varlamov</a>. 
            <br />
            BogdanBuildsBlank <small>v<%= version %></small> is based on
            <a href="http://www.angularjs.org">AngularJS</a>,
            <a href="http://getbootstrap.com">Bootstrap</a>, 
            <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
            and 
            <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.        	    
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
