<div class="container">
    <div class="page-header">
    	<h1>{{project.name}} <small><span plus-one></span></small></h1>
    </div>
    <div class="container-fluid">
    	<div class="col-md-6">
    		<p>{{project.description}}</p>
    	</div>
    	<div class="col-md-6">
    		<ul class="list-group">
    			<li class="list-group-item">
    				Created Date: {{project.createdDate}}
    			</li>
    			<li class="list-group-item">
    				Code Quality Estimate: 
    				<span ng-repeat-n="10">
    					<i class="fa fa-star"  ng-if="$index < sourceQualityFilledStars"></i>
    					<i class="fa fa-star-o" ng-if="$index >= sourceQualityFilledStars"></i>
    				</span>
    			</li>
    			<li class="list-group-item">
    				<a href="https://bitbucket.org/{{project.bitbucketRepo.accountname}}/{{project.bitbucketRepo.repoSlug}}"
    				   target="_blank">
    					<i class="fa fa-code-fork"></i> view source</a>
    			</li>
    		</ul>
    	</div>
    </div>
    
    <div ng-if="devlog.changesets">
    	<h3>Latest Developments</h3>
    	<div class="panel panel-default"
    		 ng-repeat="changeset in devlog.changesets | orderBy:'-utctimestamp'">
    		<div class="panel-heading">
    			Update from <strong>{{changeset.utctimestamp | moment: 'fromNow'}}</strong> by <em>{{changeset.author}}</em>
    		</div>
    		<div class="panel-body">
    			<p>{{changeset.message}}</p>
    		</div>
    		<div class="panel-footer">
    			commit <a href="https://bitbucket.org/{{project.bitbucketRepo.accountname}}/{{project.bitbucketRepo.repoSlug}}/commits/{{changeset.raw_node}}" target="_blank">{{changeset.node}}</a>
    		</div>
    	</div>
    </div>
</div>