<div class="container">
    <h1>Projects</h1>
    <button type="button" 
    	ng-if="isAdmin()"
    	class="btn btn-success"
    	ng-model="isAddingProject"
    	data-toggle="button"
    	btn-checkbox
    	ng-click="toggleCollapsed()">
    	Add Project
    </button>
    
    <div collapse="isCollapsed">
    	<form ng-submit="addProject()">
    		<div class="form-group">
    		    <label for="projectName">Project Name</label>
    		    <input type="text" 
    		    	   class="form-control"
    		    	   id="projectName"
    		    	   placeholder="Name"
    		    	   ng-model="newProj.name" />
    		</div>
    		<div class="form-group">
    		    <label for="projectDescription">Project Description</label>
    		    <textarea class="form-control" 
    		    		  rows="5"
    		    		  id="projectDescription" 
    		    		  placeholder="Description"
    		    		  ng-model="newProj.description"></textarea>
    		</div>
    		<div class="form-group">
    		    <label for="bitbucketAccountName">Bitbucket Account Name</label>
    		    <input type="text"
    		    	   class="form-control"
    		    	   id="bitbucketAccountName"
    		    	   placeholder="bitbucket account name"
    		    	   ng-model="newProj.bitbucketAccountname" />
    		</div>
    		<div class="form-group">
    		    <label for="bitbucketRepoSlug">Bitbucket Repository Slug</label>
    		    <input type="text"
    		    	   class="form-control"
    		    	   id="bitbucketRepoSlug"
    		    	   placeholder="bitbucket repo slug"
    		    	   ng-model="newProj.bitbucketRepoSlug" />
    		</div>
    		<div class="form-group">
    		    <label for="sourceQualityEstimate">Source Code Quality Estimate</label>
    		    <input type="text"
    		    	   class="form-control"
    		    	   id="sourceQualityEstimate"
    		    	   placeholder="a float that represents a percentage of perfection (like '0.3')"
    		    	   ng-model="newProj.sourceQualityEstimate" />
    		</div>
    		<div class="form-group">
    			<button type="button" 
    						ng-model="newProj.isPrivate"
    						btn-checkbox
    						class="btn btn-warning" 
    						data-toggle="button" 
    						aria-pressed="false" 
    						autocomplete="off">Make Private</button>
    			<input type="submit"
    				   class="btn btn-primary"
    				   value="Create">
    		</div>
    	</form>
    </div>
    <div class="row">
        <div class="alert alert-info">
            Click the name of a project to explore it.
        </div>
    	<div ng-repeat="project in projects">
    		<!--  this is to smack the next item to the next line -->
    		<div ng-if="$index % 3 == 0" class="clearfix"></div>
    		<div class="col-md-4">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<a ui-sref="project({projectId: project.id})"><h3 class="panel-title">{{project.name}}</h3></a>
    				</div>
    				<div class="panel-body">
    					<p>{{project.description}}</p>
    				</div>
    				<div class="panel-footer">
    					<a href="https://bitbucket.org/{{project.bitbucketRepo.accountname}}/{{project.bitbucketRepo.repoSlug}}" target="_blank"><i class="fa fa-code-fork"></i> get the code</a>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
