.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@bg_brown: #805d49;
@bg_green: #3D9970;
@bg_blue: #3f6b8c;

.wonder-quote{
  background-image: url("home.jpeg");
  background-color: @bg_brown;
  background-repeat: no-repeat;
  background-attachment: center;
  background-position: center;
  background-size: cover;
  height: 100vh;
  
  color: #ffffff;

  text-align: center;

  p{
    font-size: 2.6em;
  }
  
  .wonder{
    position: relative;
    top: 5%;
    
    animation: 2s fadein 1s 1 normal both;
    -moz-animation: 2s fadein 1s 1 normal both; /* Firefox */
    -webkit-animation: 2s fadein 1s 1 normal both; /* Safari and Chrome */
    -o-animation: 2s fadein 1s 1 normal both; /* Opera */
  }
    
  .quote{
    position: relative;
    top: 20%;
    
    animation: 7s fadein 2s 1 normal both;
    -moz-animation: 7s fadein 2s 1 normal both; /* Firefox */
    -webkit-animation: 7s fadein 2s 1 normal both; /* Safari and Chrome */
    -o-animation: 7s fadein 2s 1 normal both; /* Opera */
  }

  @keyframes fadein {
      from {
          opacity:0;
      }
      to {
          opacity:1;
          
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity:0;
      }
      to {
          opacity:1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity:0;
      }
      to {
          opacity: 1;
      }
  }
}

.intro{
  
  //color: #ffffff;
  
  p{
    font-size: 1.5em;
    line-height: 2.0;
    margin-bottom: 2em;
  }
  
  .problem{
    background-color: @bg_green;  
    padding-top: 5%;
  }

  .details{
    background-color: @bg_brown;
  }
  
  .solution{
    color: #DDD;
    background-color: @bg_blue;
  }
}
