<ak-panel-group full-window="false" 
                speed="800"
                keyboard="true"
                threshold="0"
                class="intro">
    <ak-panel>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/McBrGMYqDLg" frameborder="0" allowfullscreen class="video"></iframe>
        </div>
    </ak-panel>
    
    <ak-panel>
        <div class="container">
            <h1>[ introduction transcript ]</h1>
            <br />
            <p>
                While learning a new technology, have you ever asked, "How is this actually useful?" 
                It's a question that stems from the frustration we feel when forced to learn in way that isn't normal for our brain.
                But by understanding how the brain normally learns, can we discover more effective ways to learn new technologies?
                I think so.
            </p>
            <p>
                Hi. My name is Bogdan. I'm a software engineer and I build stuff like programs, websites, mobile apps, and electronics. This is Bogdan builds blank.
            </p>
            <p>
                Human brains are so efficient that they run on the same amount of energy as an LED light bulb: ~12-20 Watts.
                Because our brains don't use a lot of power, this affects the way they handle information in two interesting ways.                
                First, our brains only spend energy learning information that seems useful.                
                Second, our brains don't spend energy retaining outdated perspectives--once we know something, we can't see the world from the old perspective of not knowing.
                So what does this mean for someone who wants to learn new technologies?
            </p>
            <p>
                First, it means that learning how a technology is used to solve real problems will be easier than learning the technology only conceptually.
                Second, it means one has to be in the position of learning in order to identify the best learning methods.
                Someone who has already mastered a technology can't see problems from the perspective of a beginner, and can't predict how a beginner would learn best.
            </p>
            <p>
                At BogdanBuildsBlank, I will learn unfamiliar technologies and share how I learn.
                Because I'll be working on real projects, the information I share will be in the format that human brains prefer: concrete examples that make it obvious how a technology is useful to solve specific problems.
            </p>
            <p>
                But I can't do it alone, I need your feedback and participation; together we can build the most effective way of learning new technology based on scientific research into the human brain.
            </p>
            </div>
    </ak-panel>

<!--
    <ak-panel>
        <div class="wonder-quote">
            <p class="wonder">
                While learning a new technology, have you ever asked...
            </p>
            <p class="quote">
                "How is this actually useful?" 
            </p>
        </div>
    </ak-panel>-->

<!--
    <ak-panel class="problem">
        <div class="container">
            <p>
                It's a question that stems from the frustration we feel when forced to learn in a way that isn't normal for our brain. But by understanding how the brain learns, can we discover less-frustrating and more effective ways to learn new technologies? I think so.
            </p>
            
            <p>
                Hi. My name is Bogdan. I'm a software engineer and I build stuff like programs, websites, mobile apps, and electronics. This is BogdanBuildsBlank.
            </p>
            <p>
                Human brains are so efficient that they run on the same amount of energy as an LED light bulb: ~12-20 Watts. Because our brains don't use a lot of power, this affects the way they handle information in two interesting ways. First, our brains only spend energy learning information that seems useful. Second, our brains don't spend energy retaining outdated perspectives--once we know something, we can't see the world from the old perspective of not knowing. So what does this mean for someone who wants to learn new technologies?
            </p>
            
            <p>    
                First, it means that learning how a technology is used to solve real problems will be easier than learning the technology only conceptually. Second, it means that to identify the best learning methods, one has to be in the position of learning. Someone who has already mastered a technology can't see problems from the perspective of a beginner, and can't predict how a beginner would learn best.
            </p>
            <p>
                At BogdanBuildsBlank, I will learn unfamiliar technologies and platforms and share how I learn. Because I'll be working on real projects, the information I share will be in the format that human brains prefer: concrete examples that make it obvious how a technology is useful to solve specific problems.
            </p>
            <p>
                I need your feedback and participation; together we can build the most effective way of learning new technology based on scientific research into the human brain.
            </p>
        </div>
    </ak-panel>-->

    <!-- <ak-panel class="details">
        <div class="container">
        </div>
    </ak-panel>
    <ak-panel class="solution">    
        <div class="container">
        </div>
    </ak-panel> -->
</ak-panel-group>