<html ng-app="bbb" ng-controller="AppCtrl" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <title ng-bind="pageTitle" class="ng-binding">Projects | BogdanBuildsBlank</title>
    <meta name="fragment" content="!">

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@bogdanvarlamov">
    <meta name="twitter:title" content="BogdanBuildsBlank">
    <meta property="og:title" content="BogdanBuildsBlank">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://bogdanbuildsblank.com">
    <meta property="og:description" content="A software engineer builds stuff to answer the question: How is this actually useful?">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS -->
    <link rel="stylesheet" type="text/css" href="assets/bogdanbuildsblank-0.0.3.css">

    <!-- compiled JavaScript -->
    <script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en_US.alObTxpXR7s.O/m=plusone/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCPhDrHY2vagSjsLFOxeufqSzVU3ow/cb=gapi.loaded_0" async=""></script><script type="text/javascript" src="assets/bogdanbuildsblank-0.0.3.js"></script>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js" gapi_processed="true">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true" ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
          <div class="navbar-brand">
            Bb_
          </div>
        </div>
        <div class="navbar-collapse collapse" collapse="menuCollapsed" style="height: 0px; " aria-expanded="false" aria-hidden="true">
	        <ul class="nav navbar-nav">
	            <li ui-sref-active="active" class="">
	              <a href="#!/home" ui-sref="home">
	                <i class="fa fa-home"></i>
	                Home
	              </a>
	            </li>
	            <li ui-sref-active="active" class="">
	              <a href="#!/projects" ui-sref="projects">
	                <i class="fa fa-terminal"></i>
	                Projects
	              </a>
	            </li>
	            <li ui-sref-active="active" class="">
	              <a href="#!/about" ui-sref="about">
	                <i class="fa fa-info-circle"></i>
	                About
	              </a>
	            </li>
	          </ul>
	          <div class="container-fluid navbar-right">
		      	<!-- ngIf: !isAuthenticated() --><button type="button" class="btn btn-default navbar-btn ng-scope" ng-if="!isAuthenticated()" ng-click="authenticate('google')">
	       				Sign in with Google
	       		</button><!-- end ngIf: !isAuthenticated() -->
			  	<!-- ngIf: isAuthenticated() -->	 
	          </div>       
        </div>
    </nav>

    <!-- uiView: main --><div class="main-content ng-scope" ui-view="main"><div class="container ng-scope">
    <div class="page-header">
    	<h1 class="ng-binding">Google App Engine &amp; AngularJS Bootstrap <small><span plus-one=""></span></small></h1>
    </div>
    <div class="container-fluid">
    	<div class="col-md-6">
    		<p class="ng-binding">The goal of this project is to create an easy starting point for developing web applications based on the client/service architecture to run on Google App Engine and Web Browsers.

For maximal reuse and speed, the main work of this project is tying together already-existing projects for a complete, extensible solution.

Programming languages will be Python 2.7 for the server code, and Javascript for the client code. Projects integrated together are ng-boilerplate, satellizer, and appengine-flask-skeleton.</p>
    	</div>
    	<div class="col-md-6">
    		<ul class="list-group">
    			<li class="list-group-item ng-binding">
    				Created Date: 2016-02-29
    			</li>
    			<li class="list-group-item">
    				Code Quality Estimate: 
    				<!-- ngRepeatN: 10 --><span ng-repeat-n="10" class="ng-scope">
    					<!-- ngIf: $index < sourceQualityFilledStars --><i class="fa fa-star ng-scope" ng-if="$index &lt; sourceQualityFilledStars"></i><!-- end ngIf: $index < sourceQualityFilledStars -->
    					<!-- ngIf: $index >= sourceQualityFilledStars -->
    				</span><span ng-repeat-n="10" class="ng-scope">
    					<!-- ngIf: $index < sourceQualityFilledStars --><i class="fa fa-star ng-scope" ng-if="$index &lt; sourceQualityFilledStars"></i><!-- end ngIf: $index < sourceQualityFilledStars -->
    					<!-- ngIf: $index >= sourceQualityFilledStars -->
    				</span><span ng-repeat-n="10" class="ng-scope">
    					<!-- ngIf: $index < sourceQualityFilledStars --><i class="fa fa-star ng-scope" ng-if="$index &lt; sourceQualityFilledStars"></i><!-- end ngIf: $index < sourceQualityFilledStars -->
    					<!-- ngIf: $index >= sourceQualityFilledStars -->
    				</span><span ng-repeat-n="10" class="ng-scope">
    					<!-- ngIf: $index < sourceQualityFilledStars --><i class="fa fa-star ng-scope" ng-if="$index &lt; sourceQualityFilledStars"></i><!-- end ngIf: $index < sourceQualityFilledStars -->
    					<!-- ngIf: $index >= sourceQualityFilledStars -->
    				</span><span ng-repeat-n="10" class="ng-scope">
    					<!-- ngIf: $index < sourceQualityFilledStars --><i class="fa fa-star ng-scope" ng-if="$index &lt; sourceQualityFilledStars"></i><!-- end ngIf: $index < sourceQualityFilledStars -->
    					<!-- ngIf: $index >= sourceQualityFilledStars -->
    				</span><span ng-repeat-n="10" class="ng-scope">
    					<!-- ngIf: $index < sourceQualityFilledStars -->
    					<!-- ngIf: $index >= sourceQualityFilledStars --><i class="fa fa-star-o ng-scope" ng-if="$index &gt;= sourceQualityFilledStars"></i><!-- end ngIf: $index >= sourceQualityFilledStars -->
    				</span><span ng-repeat-n="10" class="ng-scope">
    					<!-- ngIf: $index < sourceQualityFilledStars -->
    					<!-- ngIf: $index >= sourceQualityFilledStars --><i class="fa fa-star-o ng-scope" ng-if="$index &gt;= sourceQualityFilledStars"></i><!-- end ngIf: $index >= sourceQualityFilledStars -->
    				</span><span ng-repeat-n="10" class="ng-scope">
    					<!-- ngIf: $index < sourceQualityFilledStars -->
    					<!-- ngIf: $index >= sourceQualityFilledStars --><i class="fa fa-star-o ng-scope" ng-if="$index &gt;= sourceQualityFilledStars"></i><!-- end ngIf: $index >= sourceQualityFilledStars -->
    				</span><span ng-repeat-n="10" class="ng-scope">
    					<!-- ngIf: $index < sourceQualityFilledStars -->
    					<!-- ngIf: $index >= sourceQualityFilledStars --><i class="fa fa-star-o ng-scope" ng-if="$index &gt;= sourceQualityFilledStars"></i><!-- end ngIf: $index >= sourceQualityFilledStars -->
    				</span><span ng-repeat-n="10" class="ng-scope">
    					<!-- ngIf: $index < sourceQualityFilledStars -->
    					<!-- ngIf: $index >= sourceQualityFilledStars --><i class="fa fa-star-o ng-scope" ng-if="$index &gt;= sourceQualityFilledStars"></i><!-- end ngIf: $index >= sourceQualityFilledStars -->
    				</span>
    			</li>
    			<li class="list-group-item">
    				<a href="https://bitbucket.org/bogdanvarlamov/gae-ng-bootstrap" target="_blank">
    					<i class="fa fa-code-fork"></i> view source</a>
    			</li>
    		</ul>
    	</div>
    </div>
    
    <!-- ngIf: devlog.changesets -->
</div></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner"> 
        	<ul class="social">
        	    <li>
	            	<a target="_blank" href="https://bitbucket.org/bogdanvarlamov/bogdanbuildsblank">
	            		<i class="fa fa-bitbucket"></i>
	            	</a>
	            </li>
        	</ul>        
          <p>
            © 2016 <a href="http://www.bogdanvarlamov.com">Bogdan Varlamov</a>. 
            <br>
            BogdanBuildsBlank <small>v0.0.3</small> is based on
            <a href="http://www.angularjs.org">AngularJS</a>,
            <a href="http://getbootstrap.com">Bootstrap</a>, 
            <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
            and 
            <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.        	    
          </p>
        </div>
      </div>
    </footer>
  

</body></html>