<html ng-app="bbb" ng-controller="AppCtrl" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <title ng-bind="pageTitle" class="ng-binding">What is this? | BogdanBuildsBlank</title>
    <meta name="fragment" content="!">

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@bogdanvarlamov">
    <meta name="twitter:title" content="BogdanBuildsBlank">
    <meta property="og:title" content="BogdanBuildsBlank">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://bogdanbuildsblank.com">
    <meta property="og:description" content="A software engineer builds stuff to answer the question: How is this actually useful?">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS -->
    <link rel="stylesheet" type="text/css" href="assets/bogdanbuildsblank-0.0.3.css">

    <!-- compiled JavaScript -->
    <script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en_US.alObTxpXR7s.O/m=plusone/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCPhDrHY2vagSjsLFOxeufqSzVU3ow/cb=gapi.loaded_0" async=""></script><script type="text/javascript" src="assets/bogdanbuildsblank-0.0.3.js"></script>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js" gapi_processed="true">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true" ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
          <div class="navbar-brand">
            Bb_
          </div>
        </div>
        <div class="navbar-collapse collapse" collapse="menuCollapsed" style="height: 0px; " aria-expanded="false" aria-hidden="true">
	        <ul class="nav navbar-nav">
	            <li ui-sref-active="active" class="">
	              <a href="#!/home" ui-sref="home">
	                <i class="fa fa-home"></i>
	                Home
	              </a>
	            </li>
	            <li ui-sref-active="active" class="">
	              <a href="#!/projects" ui-sref="projects">
	                <i class="fa fa-terminal"></i>
	                Projects
	              </a>
	            </li>
	            <li ui-sref-active="active" class="active">
	              <a href="#!/about" ui-sref="about">
	                <i class="fa fa-info-circle"></i>
	                About
	              </a>
	            </li>
	          </ul>
	          <div class="container-fluid navbar-right">
		      	<!-- ngIf: !isAuthenticated() --><button type="button" class="btn btn-default navbar-btn ng-scope" ng-if="!isAuthenticated()" ng-click="authenticate('google')">
	       				Sign in with Google
	       		</button><!-- end ngIf: !isAuthenticated() -->
			  	<!-- ngIf: isAuthenticated() -->	 
	          </div>       
        </div>
    </nav>

    <!-- uiView: main --><div class="main-content ng-scope" ui-view="main"><div class="container ng-scope">
  <h1 class="page-header">
    Some background
  </h1>
  <p>
    One day when I was a kid, I was traveling on a bus with my dad and staring through the window. We 
    passed by cars, buildings, traffic signs, light posts, mail boxes, and all sorts of other stuff.
    I turned to my dad and asked, "Who made all of this?" He replied, "Engineers." I thought about 
    his answer for a while, and then told my dad, "When I grow up, I'm going to be an engineer."
  </p>
  <p>
  	Now that I am grown up (and a software engineer), I get to build stuff every day as my job. It's awesome,
  	and I love to share my world with others.
  </p>
  <h2>Some specifics</h2>
  <h3>Philosophy</h3>
  <p>
  	In my professional life I have mostly worked in <strong>Agile</strong> environments. I tend to like
  	doing things in an Agile way, so I'll try to make the projects here in a similar iterative approach--with 
  	the focus being on continuously delivering incremental improvements on useful things.
  </p>
  <h3>Format</h3>
  <p>
  	I'll most likely continue tweaking the format of the projects as I work on them. Different languages
  	and technologies will be used. Here are some technologies that will be popular:
  	</p><ul>
  		<li><strong>git</strong> for version control</li>
  		<li>Google App Engine for hosting. JS and Python 2.7</li>
  	</ul>
  	The general plan is to share the code as well as to share a "journal" of the development progress. This might be in the form
  	of videos, articles, wikis, or readme files.
  <p></p>
  <h3>Licensing</h3>
  <p>
    Unless otherwise noted, any code that I share should be assumed to be licensed under BSD license...
    which basically means do whatever you want with it but don't blame me if something goes wrong.
  </p>
</div>

</div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner"> 
        	<ul class="social">
        	    <li>
	            	<a target="_blank" href="https://bitbucket.org/bogdanvarlamov/bogdanbuildsblank">
	            		<i class="fa fa-bitbucket"></i>
	            	</a>
	            </li>
        	</ul>        
          <p>
            © 2016 <a href="http://www.bogdanvarlamov.com">Bogdan Varlamov</a>. 
            <br>
            BogdanBuildsBlank <small>v0.0.3</small> is based on
            <a href="http://www.angularjs.org">AngularJS</a>,
            <a href="http://getbootstrap.com">Bootstrap</a>, 
            <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
            and 
            <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.        	    
          </p>
        </div>
      </div>
    </footer>
  

</body></html>