<html ng-app="bbb" ng-controller="AppCtrl" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <title ng-bind="pageTitle" class="ng-binding">Home | BogdanBuildsBlank</title>
    <meta name="fragment" content="!">

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@bogdanvarlamov">
    <meta name="twitter:title" content="BogdanBuildsBlank">
    <meta property="og:title" content="BogdanBuildsBlank">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://bogdanbuildsblank.com">
    <meta property="og:description" content="A software engineer builds stuff to answer the question: How is this actually useful?">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS -->
    <link rel="stylesheet" type="text/css" href="assets/bogdanbuildsblank-0.0.3.css">

    <!-- compiled JavaScript -->
    <script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en_US.alObTxpXR7s.O/m=plusone/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCPhDrHY2vagSjsLFOxeufqSzVU3ow/cb=gapi.loaded_0" async=""></script><script type="text/javascript" src="assets/bogdanbuildsblank-0.0.3.js"></script>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js" gapi_processed="true">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true" ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
          <div class="navbar-brand">
            Bb_
          </div>
        </div>
        <div class="navbar-collapse collapse" collapse="menuCollapsed" style="height: 0px; " aria-expanded="false" aria-hidden="true">
	        <ul class="nav navbar-nav">
	            <li ui-sref-active="active" class="active">
	              <a href="#!/home" ui-sref="home">
	                <i class="fa fa-home"></i>
	                Home
	              </a>
	            </li>
	            <li ui-sref-active="active" class="">
	              <a href="#!/projects" ui-sref="projects">
	                <i class="fa fa-terminal"></i>
	                Projects
	              </a>
	            </li>
	            <li ui-sref-active="active" class="">
	              <a href="#!/about" ui-sref="about">
	                <i class="fa fa-info-circle"></i>
	                About
	              </a>
	            </li>
	          </ul>
	          <div class="container-fluid navbar-right">
		      	<!-- ngIf: !isAuthenticated() --><button type="button" class="btn btn-default navbar-btn ng-scope" ng-if="!isAuthenticated()" ng-click="authenticate('google')">
	       				Sign in with Google
	       		</button><!-- end ngIf: !isAuthenticated() -->
			  	<!-- ngIf: isAuthenticated() -->	 
	          </div>       
        </div>
    </nav>

    <!-- uiView: main --><div class="main-content ng-scope" ui-view="main"><ak-panel-group full-window="false" speed="800" keyboard="true" threshold="0" class="intro ng-scope ng-isolate-scope">
    <div class="ak-panel ng-isolate-scope active" ng-class="{active: active}" ng-transclude="" style="width: 100%; height: 100%; position: relative; overflow-x: hidden; overflow-y: hidden; ">
        <div class="video-container ng-scope">
            <iframe src="https://www.youtube.com/embed/McBrGMYqDLg" frameborder="0" allowfullscreen="" class="video"></iframe>
        </div>
    </div>
    
    <div class="ak-panel ng-isolate-scope" ng-class="{active: active}" ng-transclude="" style="width: 100%; height: 100%; position: relative; overflow-x: hidden; overflow-y: hidden; ">
        <div class="container ng-scope">
            <h1>[ introduction transcript ]</h1>
            <br>
            <p>
                While learning a new technology, have you ever asked, "How is this actually useful?" 
                It's a question that stems from the frustration we feel when forced to learn in way that isn't normal for our brain.
                But by understanding how the brain normally learns, can we discover more effective ways to learn new technologies?
                I think so.
            </p>
            <p>
                Hi. My name is Bogdan. I'm a software engineer and I build stuff like programs, websites, mobile apps, and electronics. This is Bogdan builds blank.
            </p>
            <p>
                Human brains are so efficient that they run on the same amount of energy as an LED light bulb: ~12-20 Watts.
                Because our brains don't use a lot of power, this affects the way they handle information in two interesting ways.                
                First, our brains only spend energy learning information that seems useful.                
                Second, our brains don't spend energy retaining outdated perspectives--once we know something, we can't see the world from the old perspective of not knowing.
                So what does this mean for someone who wants to learn new technologies?
            </p>
            <p>
                First, it means that learning how a technology is used to solve real problems will be easier than learning the technology only conceptually.
                Second, it means one has to be in the position of learning in order to identify the best learning methods.
                Someone who has already mastered a technology can't see problems from the perspective of a beginner, and can't predict how a beginner would learn best.
            </p>
            <p>
                At BogdanBuildsBlank, I will learn unfamiliar technologies and share how I learn.
                Because I'll be working on real projects, the information I share will be in the format that human brains prefer: concrete examples that make it obvious how a technology is useful to solve specific problems.
            </p>
            <p>
                But I can't do it alone, I need your feedback and participation; together we can build the most effective way of learning new technology based on scientific research into the human brain.
            </p>
            </div>
    </div>

<!--
    <ak-panel>
        <div class="wonder-quote">
            <p class="wonder">
                While learning a new technology, have you ever asked...
            </p>
            <p class="quote">
                "How is this actually useful?" 
            </p>
        </div>
    </ak-panel>-->

<!--
    <ak-panel class="problem">
        <div class="container">
            <p>
                It's a question that stems from the frustration we feel when forced to learn in a way that isn't normal for our brain. But by understanding how the brain learns, can we discover less-frustrating and more effective ways to learn new technologies? I think so.
            </p>
            
            <p>
                Hi. My name is Bogdan. I'm a software engineer and I build stuff like programs, websites, mobile apps, and electronics. This is BogdanBuildsBlank.
            </p>
            <p>
                Human brains are so efficient that they run on the same amount of energy as an LED light bulb: ~12-20 Watts. Because our brains don't use a lot of power, this affects the way they handle information in two interesting ways. First, our brains only spend energy learning information that seems useful. Second, our brains don't spend energy retaining outdated perspectives--once we know something, we can't see the world from the old perspective of not knowing. So what does this mean for someone who wants to learn new technologies?
            </p>
            
            <p>    
                First, it means that learning how a technology is used to solve real problems will be easier than learning the technology only conceptually. Second, it means that to identify the best learning methods, one has to be in the position of learning. Someone who has already mastered a technology can't see problems from the perspective of a beginner, and can't predict how a beginner would learn best.
            </p>
            <p>
                At BogdanBuildsBlank, I will learn unfamiliar technologies and platforms and share how I learn. Because I'll be working on real projects, the information I share will be in the format that human brains prefer: concrete examples that make it obvious how a technology is useful to solve specific problems.
            </p>
            <p>
                I need your feedback and participation; together we can build the most effective way of learning new technology based on scientific research into the human brain.
            </p>
        </div>
    </ak-panel>-->

    <!-- <ak-panel class="details">
        <div class="container">
        </div>
    </ak-panel>
    <ak-panel class="solution">    
        <div class="container">
        </div>
    </ak-panel> -->
</ak-panel-group></div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner"> 
        	<ul class="social">
        	    <li>
	            	<a target="_blank" href="https://bitbucket.org/bogdanvarlamov/bogdanbuildsblank">
	            		<i class="fa fa-bitbucket"></i>
	            	</a>
	            </li>
        	</ul>        
          <p>
            © 2016 <a href="http://www.bogdanvarlamov.com">Bogdan Varlamov</a>. 
            <br>
            BogdanBuildsBlank <small>v0.0.3</small> is based on
            <a href="http://www.angularjs.org">AngularJS</a>,
            <a href="http://getbootstrap.com">Bootstrap</a>, 
            <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
            and 
            <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.        	    
          </p>
        </div>
      </div>
    </footer>
  

</body></html>