<html ng-app="bbb" ng-controller="AppCtrl" class="ng-scope"><head><style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide:not(.ng-hide-animate){display:none !important;}ng\:form{display:block;}.ng-animate-shim{visibility:hidden;}.ng-anchor{position:absolute;}</style>
    <title ng-bind="pageTitle" class="ng-binding">Projects | BogdanBuildsBlank</title>
    <meta name="fragment" content="!">

    <!-- social media tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@bogdanvarlamov">
    <meta name="twitter:title" content="BogdanBuildsBlank">
    <meta property="og:title" content="BogdanBuildsBlank">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://bogdanbuildsblank.com">
    <meta property="og:description" content="A software engineer builds stuff to answer the question: How is this actually useful?">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font awesome from BootstrapCDN -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- compiled CSS -->
    <link rel="stylesheet" type="text/css" href="assets/bogdanbuildsblank-0.0.3.css">

    <!-- compiled JavaScript -->
    <script src="https://apis.google.com/_/scs/apps-static/_/js/k=oz.gapi.en_US.alObTxpXR7s.O/m=plusone/rt=j/sv=1/d=1/ed=1/am=AQ/rs=AGLTcCPhDrHY2vagSjsLFOxeufqSzVU3ow/cb=gapi.loaded_0" async=""></script><script type="text/javascript" src="assets/bogdanbuildsblank-0.0.3.js"></script>

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js" gapi_processed="true">
      { "parsetags": "explicit" }
    </script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="menuCollapsed = true" ng-click="menuCollapsed = ! menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
          </button>
          <div class="navbar-brand">
            Bb_
          </div>
        </div>
        <div class="navbar-collapse collapse" collapse="menuCollapsed" style="height: 0px; " aria-expanded="false" aria-hidden="true">
	        <ul class="nav navbar-nav">
	            <li ui-sref-active="active" class="">
	              <a href="#!/home" ui-sref="home">
	                <i class="fa fa-home"></i>
	                Home
	              </a>
	            </li>
	            <li ui-sref-active="active" class="active">
	              <a href="#!/projects" ui-sref="projects">
	                <i class="fa fa-terminal"></i>
	                Projects
	              </a>
	            </li>
	            <li ui-sref-active="active" class="">
	              <a href="#!/about" ui-sref="about">
	                <i class="fa fa-info-circle"></i>
	                About
	              </a>
	            </li>
	          </ul>
	          <div class="container-fluid navbar-right">
		      	<!-- ngIf: !isAuthenticated() --><button type="button" class="btn btn-default navbar-btn ng-scope" ng-if="!isAuthenticated()" ng-click="authenticate('google')">
	       				Sign in with Google
	       		</button><!-- end ngIf: !isAuthenticated() -->
			  	<!-- ngIf: isAuthenticated() -->	 
	          </div>       
        </div>
    </nav>

    <!-- uiView: main --><div class="main-content ng-scope" ui-view="main"><div class="container ng-scope">
    <h1>Projects</h1>
    <!-- ngIf: isAdmin() -->
    
    <div collapse="isCollapsed" style="height: 0px; " class="collapse">
    	<form ng-submit="addProject()" class="ng-pristine ng-valid">
    		<div class="form-group">
    		    <label for="projectName">Project Name</label>
    		    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="projectName" placeholder="Name" ng-model="newProj.name">
    		</div>
    		<div class="form-group">
    		    <label for="projectDescription">Project Description</label>
    		    <textarea class="form-control ng-pristine ng-untouched ng-valid" rows="5" id="projectDescription" placeholder="Description" ng-model="newProj.description"></textarea>
    		</div>
    		<div class="form-group">
    		    <label for="bitbucketAccountName">Bitbucket Account Name</label>
    		    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="bitbucketAccountName" placeholder="bitbucket account name" ng-model="newProj.bitbucketAccountname">
    		</div>
    		<div class="form-group">
    		    <label for="bitbucketRepoSlug">Bitbucket Repository Slug</label>
    		    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="bitbucketRepoSlug" placeholder="bitbucket repo slug" ng-model="newProj.bitbucketRepoSlug">
    		</div>
    		<div class="form-group">
    		    <label for="sourceQualityEstimate">Source Code Quality Estimate</label>
    		    <input type="text" class="form-control ng-pristine ng-untouched ng-valid" id="sourceQualityEstimate" placeholder="a float that represents a percentage of perfection (like '0.3')" ng-model="newProj.sourceQualityEstimate">
    		</div>
    		<div class="form-group">
    			<button type="button" ng-model="newProj.isPrivate" btn-checkbox="" class="btn btn-warning ng-pristine ng-untouched ng-valid" data-toggle="button" aria-pressed="false" autocomplete="off">Make Private</button>
    			<input type="submit" class="btn btn-primary" value="Create">
    		</div>
    	</form>
    </div>
    <div class="row">
        <div class="alert alert-info">
            Click the name of a project to explore it.
        </div>
    	<!-- ngRepeat: project in projects --><div ng-repeat="project in projects" class="ng-scope">
    		<!--  this is to smack the next item to the next line -->
    		<!-- ngIf: $index % 3 == 0 --><div ng-if="$index % 3 == 0" class="clearfix ng-scope"></div><!-- end ngIf: $index % 3 == 0 -->
    		<div class="col-md-4">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<a ui-sref="project({projectId: project.id})" href="#!/project/5634472569470976"><h3 class="panel-title ng-binding">Google App Engine &amp; AngularJS Bootstrap</h3></a>
    				</div>
    				<div class="panel-body">
    					<p class="ng-binding">The goal of this project is to create an easy starting point for developing web applications based on the client/service architecture to run on Google App Engine and Web Browsers.

For maximal reuse and speed, the main work of this project is tying together already-existing projects for a complete, extensible solution.

Programming languages will be Python 2.7 for the server code, and Javascript for the client code. Projects integrated together are ng-boilerplate, satellizer, and appengine-flask-skeleton.</p>
    				</div>
    				<div class="panel-footer">
    					<a href="https://bitbucket.org/bogdanvarlamov/gae-ng-bootstrap" target="_blank"><i class="fa fa-code-fork"></i> get the code</a>
    				</div>
    			</div>
    		</div>
    	</div><!-- end ngRepeat: project in projects --><div ng-repeat="project in projects" class="ng-scope">
    		<!--  this is to smack the next item to the next line -->
    		<!-- ngIf: $index % 3 == 0 -->
    		<div class="col-md-4">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<a ui-sref="project({projectId: project.id})" href="#!/project/5722646637445120"><h3 class="panel-title ng-binding">BogdanBuildsBlank.com</h3></a>
    				</div>
    				<div class="panel-body">
    					<p class="ng-binding">The project for the very website you are looking at right now. How meta is that!?</p>
    				</div>
    				<div class="panel-footer">
    					<a href="https://bitbucket.org/bogdanvarlamov/bogdanbuildsblank" target="_blank"><i class="fa fa-code-fork"></i> get the code</a>
    				</div>
    			</div>
    		</div>
    	</div><!-- end ngRepeat: project in projects -->
    </div>
</div>
</div>

    <footer class="footer">
      <div class="container">
        <div class="footer-inner"> 
        	<ul class="social">
        	    <li>
	            	<a target="_blank" href="https://bitbucket.org/bogdanvarlamov/bogdanbuildsblank">
	            		<i class="fa fa-bitbucket"></i>
	            	</a>
	            </li>
        	</ul>        
          <p>
            © 2016 <a href="http://www.bogdanvarlamov.com">Bogdan Varlamov</a>. 
            <br>
            BogdanBuildsBlank <small>v0.0.3</small> is based on
            <a href="http://www.angularjs.org">AngularJS</a>,
            <a href="http://getbootstrap.com">Bootstrap</a>, 
            <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
            and 
            <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.        	    
          </p>
        </div>
      </div>
    </footer>
  

</body></html>