<div class="container">
  <h1 class="page-header">
    Some background
  </h1>
  <p>
    One day when I was a kid, I was traveling on a bus with my dad and staring through the window. We 
    passed by cars, buildings, traffic signs, light posts, mail boxes, and all sorts of other stuff.
    I turned to my dad and asked, "Who made all of this?" He replied, "Engineers." I thought about 
    his answer for a while, and then told my dad, "When I grow up, I'm going to be an engineer."
  </p>
  <p>
  	Now that I am grown up (and a software engineer), I get to build stuff every day as my job. It's awesome,
  	and I love to share my world with others.
  </p>
  <h2>Some specifics</h2>
  <h3>Philosophy</h3>
  <p>
  	In my professional life I have mostly worked in <strong>Agile</strong> environments. I tend to like
  	doing things in an Agile way, so I'll try to make the projects here in a similar iterative approach--with 
  	the focus being on continuously delivering incremental improvements on useful things.
  </p>
  <h3>Format</h3>
  <p>
  	I'll most likely continue tweaking the format of the projects as I work on them. Different languages
  	and technologies will be used. Here are some technologies that will be popular:
  	<ul>
  		<li><strong>git</strong> for version control</li>
  		<li>Google App Engine for hosting. JS and Python 2.7</li>
  	</ul>
  	The general plan is to share the code as well as to share a "journal" of the development progress. This might be in the form
  	of videos, articles, wikis, or readme files.
  </p>
  <h3>Licensing</h3>
  <p>
    Unless otherwise noted, any code that I share should be assumed to be licensed under BSD license...
    which basically means do whatever you want with it but don't blame me if something goes wrong.
  </p>
</div>

